.title{
    color: red;
    margin-left: 10px;
    margin-top: 12px;
}
.lists{
    color: gray;
    margin-left: 91px
}
.photo{
    width: 186px;
    height: 109px;
    margin-left: 79px;
}
.text{
    color: gray;
    margin-left: 10px
}